/** {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*/

body {
    background: linear-gradient(to bottom, #20eb42, #05301acc);
    color: #092209;
    
    font-family: "Century Gothic", sans-serif;

}

nav {
    font-size: 1.4rem;
    font-weight: 600;
}

.navbar h1 {
    font-size: 1.4rem;
    font-weight: 600;
    position: fixed;
}

.btn, input{
    background: #2563eb;
    color: #fff;
    top: 0;
}

.btn:hover{
    background: #1d4e1d;
}

.energy-table {
    align-items: center;

}